body
{
background-color:white;
font-family: Microsoft JhengHei UI; 
align-content: center;
}
footer
{
 margin-top: 20px;
}
#contenedor
{
  font-size: 16px ;
}
#Encabezado
{
 display: block;
 margin: 0 auto; 
}
#parrafo
{
 font-size: 20px; 
}
a[href]
{
  color: red;
}
img[src$=".svg"]{
  border-radius: 50px;
}
img[src$="jpg"],img[src="png"]{
  border: 1px solid black;
  border-radius: 5px;

}